@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap,family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

footer {
    background-color:aliceblue;
    text-align: center;
    padding: 20px 5px 5px 0px;
    border-top: 12px double antiquewhite;
}

footer p {
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
    font-size: 10px;
}

footer a {
    color: black;
}

body {
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
}

header {
    padding: 10px 5px 10px 5px;
    background-color: aliceblue;
    border-bottom: 12px double antiquewhite;
}

nav {
    padding: 10px;
    width: 100%;
}

.menu {
    text-align: center;
    display: inline;
    font-size: 13px;
    font-family: 'Bungee Shade', cursive; 

}

.menu a {
    color: black;
}

li {
     display: inline;
}


.menu li:hover {
   border-bottom: 2px dashed turquoise;
   padding-bottom: 5px;
   color: black;
}


.container {
    margin: auto;
    text-align: center;
}


button {
    font-family: 'Bungee Shade', cursive;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color:beige;
}

#cup-selector,
#bloom,
#watercountdown,
#waterweight,
#restcountdown,
#coffeeweight,
#bloomcountdown {
  font-family: 'Bungee Shade', cursive;
    font-size: 18px;  
}

#cup-selector {
    text-align: center;
}

#change_cups {
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}

#change_cups:hover {
   background-color:cyan; 
} 


/* Fonts */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
}

h3 {
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
}


.recipe {
    text-align: left;
    padding: 0px 20px 20px 20px;
}

#howto {
 display: flex;
 justify-content: center;
 line-height: 15px;
}



/* Responsive  ---------------------------------- */
@media screen and (max-width: 600px) {
    .menu {
        font-size: 1.3em;
    }

    h3 {
        font-size: 20px;
    }

#cup-selector,
#bloom,
#watercountdown,
#waterweight,
#restcountdown,
#coffeeweight,
#bloomcountdown {
  font-family: 'Bungee Shade', cursive;
    font-size: 1.2em;  
}

button {
    font-size: 1.1em;
}

}