/* Google fonts ----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap,family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Sections ----------------------------------------- */

header {
    padding: 10px 5px 10px 5px;
    background-color: white;
    border-bottom: 12px double #F6F2E6;
}

body {
    background-color:#F6F2E6;
    margin: auto;
    text-align: center;
}

nav {
    padding: 20px 10px 20px 10px;
    width: 100%;
}

.menu {
    text-align: center;
    display: inline;
    font-size: 13px;
    font-family: 'Bungee Shade', cursive;
}

.menu a {
    color: black;
}

li {
    display: inline;
}

.menu li:hover {
    border-bottom: 2px dashed turquoise;
    padding-bottom: 5px;
    color: black;
}

footer {
    background-color:white;
    text-align: center;
    padding: 20px 5px 5px 0px;
    border-top: 12px double #F6F2E6;
}

footer p {
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
    font-size: 10px;
}

footer a {
    color: black;
}

/* Button ----------------------------------------- */

button {
    font-family: 'Bungee Shade', cursive;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: beige;
}

/* Functions area  ----------------------------------------- */
#howto {
    justify-content: center;
    line-height: 15px;
    width: 400px;
    margin: 0 auto;
}

#cup-selector,
#bloom,
#watercountdown,
#waterweight,
#restcountdown,
#coffeeweight,
#bloomcountdown {
    font-family: 'Bungee Shade', cursive;
    font-size: 18px;
}

#cup-selector {
    text-align: center;
}

#change_cups {
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}

#change_cups:hover {
    background-color: cyan;
}

.recipe {
    text-align: left;
    margin: 20px 20px 20px 20px;
}

/* Fonts ----------------------------------------- */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
}

h3 {
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
}

/* Responsive  ----------------------------------------- */
@media screen and (max-width: 600px) {
    .menu {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
    }

    #cup-selector {
        font-size: 20px;
    }

    #bloom,
    #watercountdown,
    #waterweight,
    #restcountdown,
    #coffeeweight,
    #bloomcountdown {
        font-family: 'Bungee Shade', cursive;
        font-size: 15px;
    }

    button {
        font-size: 1.1em;
    }

    #howto {
        width: 100%;
    }

}